@font-face {
  font-family: "Open Sauce One";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./open-sauce-one-300.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sauce One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./open-sauce-one-400.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sauce One";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./open-sauce-one-500.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sauce One";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./open-sauce-one-600.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sauce One";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./open-sauce-one-700.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sauce One";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("./open-sauce-one-800.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sauce One";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("./open-sauce-one-900.ttf") format("truetype");
}
